extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let rabbitid = toShow._id
    - let rabbit_color = toShow.rabbit_color
    - let rabbit_breed = toShow.rabbit_breed
    - let rabbit_price = toShow.rabbit_price
    - let actionid = "/resource/rabbits/" + rabbitid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='rabbitAttr mr-3') rabbit ID is:
      div #{rabbitid}
     div.row
      div(class='rabbitAttr mr-3') rabbit color is:
      div #{rabbit_color}
     div.row
      div(class='rabbitAttr mr-3') rabbit breed is:
      div #{rabbit_breed}
     div.row
      div(class='rabbitAttr mr-3') rabbit Price is:
      div #{rabbit_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/rabbits'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/rabbit'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }